html, body {
    height: 100%;
    background-color: #f6f6f6;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

#mainHolder {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quoteStreamTitle {
    font-size: 50px;
}

#addQuote, #quoteStreamTitle {
    color: rgb(219, 219, 219);

    transition: .25s;
    cursor: pointer;
}

#addQuote:hover, #quoteStreamTitle:hover {
    color: black;
}

#greyB {
    display: none;
    position: fixed;

    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    background-color: rgba(2, 2, 2, .5);

    z-index: 10;
}

#addQuoteScreen {
    position: fixed;

    z-index: 11;
}

#holder {
    background-color: transparent;
    height: auto;
    width: auto;

    padding-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    transition: .25s;
}

#quoteHolder {
    opacity: 0;
    transition: 1s linear;
}

#newQuoteHolder {
    opacity: 0;
    transition: 1s linear;
}

#holder:hover {
    transform: translateY(-2px);
    background-color: white;

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#displayedQuote {
    text-align: center;
}

#displayedAuthor {
    text-align: right;
}

#displayedQuote {
    font-size: 50px;
    font-weight: 600;
}

#displayedAuthor {
    font-size: 30px
}

.bottomBar {
    padding-right: 20px;
    padding-bottom: 15px;
}

.topBar {
    padding-left: 15px;
    padding-top: 0px;
}